# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend Data
backend/tokens.json
backend/signals.json
backend/user_settings.json
backend/ngrok_debug.json
backend/ngrok_url.txt
backend/ip_out.txt

# Large Video Files
horus_ovs.mp4
horus_ovs3.mp4
institutional_levels.mov
shadow_buy.mp4
shadow_sell.mp4
pro4x_sell.mov
